<a href="https://colab.research.google.com/github/Kridge42/Metabolic-Syndrome/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Predicting Metabolic Syndrome

#####Kevin Ridge

This data comes from the National Center for Statistics.

- link to data.world source: https://data.world/informatics-edu/metabolic-syndrome-prediction

#### This data is showing the many factors that could be related to developing metabolic syndrome. The main features include: body mass index, waist circumference, triglycerides above 150, HDL cholesterol below 50 in women or 40 in men, established proteinurnia, uric acid levels, and elevated fasting blood sugar (100-125). These columns all represent measurements that qualified medical professionals use to obtain a snapshot of health. I will have to do further research on what the UrAlbCr column represents. Also, it seems to have no history of blood pressure measurements. Age, sex, marital status, income, race are all personal attributes and could play a factor even thought they seem less relevant at first glance. 
#### **The target is metabloic syndrome. It is a classification problem because we are determining whether or not someone does or does not develop said condition.**

#### There are 15 features and 2401 rows in the dataset.

Challenges include: the missing data, why the data set did not feature blood pressure, what is UrAlbCR, and is there a clear link to one or all of these factors for the patients who did develop metabolic syndrome?

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import precision_score, recall_score, \
ConfusionMatrixDisplay, accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
path = '/content/drive/MyDrive/Data/Metabolic  Syndrome.csv'
df = pd.read_csv(path)
df.head()

,seqn,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,No MetSyn
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,No MetSyn
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,No MetSyn
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,No MetSyn
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,No MetSyn

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seqn               2401 non-null   int64
 1   Age                2401 non-null   int64
 2   Sex                2401 non-null   object
 3   Marital            2193 non-null   object
 4   Income             2284 non-null   float64
 5   Race               2401 non-null   object
 6   WaistCirc          2316 non-null   float64
 7   BMI                2375 non-null   float64
 8   Albuminuria        2401 non-null   int64
 9   UrAlbCr            2401 non-null   float64
 10  UricAcid           2401 non-null   float64
 11  BloodGlucose       2401 non-null   int64
 12  HDL                2401 non-null   int64
 13  Triglycerides      2401 non-null   int64
 14  MetabolicSyndrome  2401 non-null   object
dtypes: float64(5), int64(6), object(4)
memory usage: 281.5+ KB